
/****变量*******/
@import 'components/variable.less';

/**浏览器重置样式***/
@import 'base/reset.less';

/***基础函数****/
@import 'base/base.less';

/***pxtorem*****/
@import 'base/flexible.less';

@import 'components/toast.less';
@import 'components/pop.less';
@import 'components/flex.less';

.bg-img( @url ) {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../images/@{url}.png');
}

/***页面样式*****/

.main-html{
    min-height: 100%;
    height: 100%;
    body{
        min-height: 100%;
        height: 100%;
        width: 100%;
        .bg-img('main-bg');
    }

    &.game-html{
        body{
            .bg-img('game-bg'); 
            height: auto;
        }       
        .title{
            .px2rem(padding-top,30);
            .px2rem(margin-bottom,40);
            text-align: center;
            color: #fff;
            line-height: 1;
            .px2px(font-size,30);
            font-weight: bold;
        }

        .title3{
            .px2rem(padding-top,100);
            text-align: center;
            font-weight: bold;
            span{
                display: inline-block;
                text-align: center;
                .px2rem(width,276);
                .px2rem(height,108);
                .px2rem(line-height,108);
                color: #000;
                background: #eecb3d;
                .px2px(font-size,60);

            }
        }

        .des{
            text-align: center;
            color: #fff;
            .px2rem(margin-top,40);
            .px2rem(margin-bottom,50);
            .px2px(font-size,30);
            line-height: 1.4;
        }

        .btn-wrap{
            .px2rem(margin-top,110);
            .px2rem(padding-bottom,60);
        }
    }

    .goback{
        .px2rem(width,147);
        .px2rem(height,94);
        .bg-img('goback-btn');
        .pa();
        .px2rem(top,10);
        .px2rem(left,10);
    }

    .submit-btn{
        .px2rem(width,222);
        .px2rem(height,76);
        .bg-img('submit-btn');
        margin-left: auto;
        margin-right: auto;
    }
    .mar{
        .px2rem(margin-top,110);
        .px2rem(margin-bottom,60);
    }

    /***主页面***/
    .main-body{
        .pr();
        .list-btn{
            .pa();
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translateX(-50%);
            .px2rem(bottom,60);

            &>div{
                display:inline-block;
                .px2rem(width,421);
                .px2rem(height,133);
                .px2rem(margin-bottom,30);

                &:last-child{
                    margin-bottom:0;
                }
                &.beginBtn{
                   .bg-img('begingame-btn');
                }
                &.rewardBtn{
                    .bg-img('reward-btn');
                }
                &.ruleBtn{
                    .bg-img('rules-btn');
                }
            }

        }
    }

    /**规则页面**/
    .rules-body{
        .pr();
        .rules-wrap{
            .pa();
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);
            .px2rem(width,650);
            background:#ffffbd;
            .borderradius1(8);
            box-sizing: border-box;
            .padding(30,30,30,30);
            
            .title{
                text-align: center;
                line-height: 1;
                .px2rem(padding-bottom,15);
                color: #664106;
                .px2px(font-size,48);
                border-bottom: 1px solid #7a5a1e;
                .px2rem(margin-bottom,24);
                font-weight: bold;
            }
            .content{
                .padding(45,45,45,45);
                background: #e5e58f;
                .borderradius1(8);
                color: #664106;
                .px2px(font-size,40);
                line-height: 1.3;
            }
        }
    }

    /***中奖名单**/
    .reward-body{
        .pr();
        .reward-wrap{
            .pa();
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);
            .px2rem(width,650);
            background:#ffffbd;
            .borderradius1(8);
            box-sizing: border-box;
            .padding(50,20,20,20);
            .tip{
                .pa();
                z-index: 10;
               .px2rem(width,343);
               .px2rem(height,90);
               left: 50%;
               transform: translateX(-50%);
                .px2rem(top,-70);
                .bg-img('reward');
            }
            .title{
                text-align: center;
                color: #664106;
                .px2px(font-size,42);
                .px2rem(margin-bottom,24);
                font-weight: bold;
                line-height: 1.2;
            }
            .content{
                .padding(10,0,30,20);
                box-sizing: border-box;
                .px2rem(height,632);
                overflow-y: scroll;
                background: #e5e58f;
                .borderradius1(8);
                color: #664106;
                .px2px(font-size,40);
                line-height: 1.3;

                .name{
                    text-align: center;
                    color:#664106;
                    .px2px(font-size,40);
                    .px2rem(margin-bottom,30);
                    font-weight: bold;
                }
                li{
                    color:#664106;
                    .px2px(font-size,40); 
                    .px2rem(margin-bottom,10);
                }
            }
        }
    }

    /***选择页面***/
    .selectlist-body{

        .list-wrap{
            .pa();
            .px2rem(width,652);
            top: 50%;
            left: 50%;
            transform: translate(-50%,-40%);

            li{
                width: 100%;
                text-align: center;
                color: #fff;
                font-weight: bold;
                .px2px(font-size,50);
                .px2rem(height,132);
                .px2rem(line-height,132);
                .px2rem(margin-bottom,34);
                .bg-img('selectlist-disabled-btn');

                &.active{
                    .bg-img('selectlist-btn');
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    /***小组赛**/
    .game16-body{
        
        .group-name{
            .px2rem(margin-left,24);
            text-align: center;
            color: #fff;
            .px2rem(width,76);
            .px2rem(height,50);
            font-weight: bold;
            .bg-img('game-bg');
            .px2rem(margin-bottom,10);
        }
        .group-list{
            .px2rem(padding-left,44);
            .px2rem(padding-right,44);
            .px2rem(margin-bottom,26);
            &>div{
                .px2rem(width,131);
                .px2rem(height,122);
                .borderradius1(10);
                box-sizing: border-box;
                .px2rem(padding-top,12);
                &.active{
                    background: #6b5d29;
                }
                img{
                    .px2rem(width,107);
                    .px2rem(height,62);
                    margin-left: auto;
                    margin-right: auto;
                    .px2rem(margin-bottom,6);
                    display: block;
                }
                p{
                    text-align: center;
                    color: #fff;
                    line-height: 1;
                    .px2px(font-size,25);
                    font-weight: bold;
                }
            }
        }


    }

    /**1/8决赛 1/4决赛***/
    .game8-body{
        article{
            .px2rem(padding-top,30);
        }
        .title2{
            .px2rem(padding-top,80);
        }
        .item{
          .px2rem(width,690);
          .px2rem(height,96);
          box-sizing: border-box;
          margin-left: auto;
          margin-right: auto;
          .px2rem(padding-left,54);
          .px2rem(padding-right,54);
          .bg-img('list-bg');
          .px2rem(margin-bottom,40);
          font-weight: bold;
          &:nth-child(4){
              .px2rem(margin-bottom,80);
          }
           .name{
               .px2rem(height,96);
               .px2rem(width,164);
               .px2rem(line-height,96);
               text-align: center;
               color: #fff;
               .px2px(font-size,30);   
               white-space: nowrap;           
               &.active{
                   .bg-img('list-selected');
               }
           }
           .info{
               text-align: center;
               line-height: 1;
               p:first-child{
                   color: #fff;
                   .px2px(font-size,34);
                   .px2rem(margin-bottom,14);
               }
               p:last-child{
                   span{
                    color:#ffba0c;
                    .px2px(font-size,40);
                   }
                   color: #fff;
                   .px2px(font-size,34);
               }
           }


        }

    }

    /***半决赛 决赛****/
    .game2-body{
        
         .line{
             .px2rem(padding-left,110);
             .px2rem(padding-right,110);
             .px2rem(margin-bottom,80);

             .county-item{
                 .px2rem(margin-bottom,30);
                 &>div{
                     .px2rem(width,164);
                     .px2rem(height,109);
                     img{
                         display: block;
                         width: 100%;
                     }

                     &.vs{
                         .px2rem(width,130);
                         .px2rem(height,98);
                         .bg-img('icon-vs');
                     }
                 }
             }

             .input-item{
                 &>div{
                    .px2rem(width,155);
                    .px2rem(height,87);
                    background: #feeda8;
                    .borderradius1(8);
                    border: 2px solid #eecb3d;
                     input{
                      border: 0;
                      outline: 0;
                      display: block;
                      width: 100%;
                      text-align: center;
                      color: #000;
                      font-weight: bold;
                      background: #feeda8;
                      .px2px(font-size,58);

                     }
                 }
             }
         }
    }

    /***竞猜成功页面***/
    .success-body{
        .px2rem(padding-top,130);
        .success-wrap{
           
            .px2rem(width,649);
            .borderradius1(8);
            background: #ffffbd;
            box-sizing: border-box;
            .px2rem(padding-left,20);
            .px2rem(padding-right,20);
            .px2rem(padding-top,30);
            .px2rem(padding-bottom,40);
            margin-left: auto;
            margin-right: auto;
            .title{
                text-align: center;
                line-height: 1.4;
                color: #664106;
                .px2px(font-size,48);
                border-bottom: 1px solid #664106;
            }
            .content{
               .padding(40,60,120,60); 
               color: #664106;
               .px2px(font-size,40);
               line-height: 1.3;
            }

            .btn{

                &>div{
                    .px2rem(width,421);
                    .px2rem(height,98);
                    margin-left: auto;
                    margin-right: auto;
                    .px2rem(margin-bottom,40);

                    &.share-btn{
                        .bg-img('share-btn');
                    }
                    &.floww-btn{
                        .bg-img('follow-btn');
                    }
                }
            }
            
        }
    }

    /***登录注册页面****/
    .login-body{
        .px2rem(padding-top,130);
        .wrap{
            .px2rem(width,649);
            .borderradius1(8);
            background: #ffffbd;
            box-sizing: border-box;
            .px2rem(padding-left,20);
            .px2rem(padding-right,20);
            .px2rem(padding-top,30);
            .px2rem(padding-bottom,80);
            margin-left: auto;
            margin-right: auto;
            .pr();

            .title{
                text-align: center;
                line-height: 1.4;
                color: #664106;
                .px2px(font-size,48);
                border-bottom: 1px solid #664106;
            }

            .login-btn{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                .px2rem(width,334);
                .px2rem(height,114);
                .px2rem(line-height,114);
                .bg-img('login-bg');
                color: #fff;
                font-weight: bold;
                .px2px(font-size,64);
                .px2rem(margin-top,110);
                .px2rem(margin-bottom,100);
            }
            .info{
                text-align: center;
                color: #664106;
                .px2px(font-size,28);
                line-height: 1.4;
            }

            .form{
                margin-left: auto;
                margin-right: auto;
                .px2rem(margin-top,60);

                .input{
                    .clearfix();
                    .px2rem(margin-bottom,40);
                    span{
                        .fl();
                        text-align: right;
                        .px2rem(width,160);
                        .px2rem(height,65);
                        .px2rem(line-height,65);
                        .px2px(font-size,40);
                        color: #664106;
                        .px2rem(margin-right,10);
                    }
                    .input1{
                        .px2rem(width,395);
                        .px2rem(height,65);
                        box-sizing: border-box;
                        .px2rem(padding-left,15);
                        .fl();
                        background: #ffffd1;
                        border: 1px solid #f8e396;
                        .borderradius1(8);
                        color: #664106;
                    }
                    .input2{
                        .px2rem(width,181);
                        .px2rem(height,65);
                        box-sizing: border-box;
                        .px2rem(padding-left,15);
                        .fl();
                        background: #ffffd1;
                        border: 1px solid #f8e396;
                        .borderradius1(8);
                        .px2rem(margin-right,25);
                        color: #664106;
                    }

                    .yzmimg{
                        .fl();
                        .px2rem(width,184);
                        .px2rem(height,63);
                        background: #efefef;
                    }

                    
                }
                .tip{
                    text-align: right;
                    .px2px(font-size,30);
                    color: #664106;
                    line-height: 1.3;
                    .px2rem(margin-right,60);

                    span{
                        border-bottom:1px solid #664106;
                    }

                }
            }
        } 
    }
}