
/****变量*******/
@import 'components/variable.less';

/**浏览器重置样式***/
@import 'base/reset.less';

/***基础函数****/
@import 'base/base.less';

/***pxtorem*****/
@import 'base/flexible.less';

@import 'components/toast.less';
@import 'components/pop.less';
@import 'components/flex.less';

.bg-img( @url ) {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../images/@{url}.png');
}

@keyframes rollUp {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes rollUp {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/***页面样式*****/

.main-html{
    min-height: 100%;
    height: 100%;
    body{
        min-height: 100%;
        height: 100%;
        width: 100%;
        .bg-img('main-bg');
    }

    &.game-html{
        body{
            .bg-img('game-bg'); 
            height: auto;
        }       
        .title{
           
            &.title3{
                .px2rem(padding-top,100);
            }
            text-align: center;
            color: #fff;
            .px2rem(padding-top,20);
            .icon-title16{
                .px2rem(width,460);
                .px2rem(height,141);
                .background('../images/title16.png');
                margin:0 auto;
            }
            .icon-title8{
                .px2rem(width,560);
                .px2rem(height,143);
                .background('../images/title8.png');
                margin:0 auto;
            }
            .icon-title4{
                .px2rem(width,559);
                .px2rem(height,140);
                .background('../images/title4.png');
                margin:0 auto;
            }
            .icon-title2{
                .px2rem(width,538);
                .px2rem(height,193);
                .background('../images/title2.png');
                margin:0 auto;
            }
            .icon-title1{
                .px2rem(width,468);
                .px2rem(height,179);
                .background('../images/title1.png');
                margin:0 auto;
            }
        }

        .des{
            text-align: center;
            color: #fff;
            .px2rem(margin-top,40);
            .px2rem(margin-bottom,50);
            .px2px(font-size,30);
            line-height: 1.4;
        }

        .btn-wrap{
            .px2rem(margin-top,110);
            .px2rem(padding-bottom,60);
        }
    }

    .goback{
        .px2rem(width,68);
        .px2rem(height,71);
        .bg-img('goback-btn');
        .pa();
        .px2rem(top,10);
        .px2rem(left,10);
    }

    .goback1{
        .px2rem(width,168);
        .px2rem(height,94);
        .bg-img('goback-btn2');
        .pa();
        .px2rem(top,10);
        .px2rem(left,10);
    }

    .common-wrap{
        .px2rem(width,688);
        .px2rem(height,998);
        margin-left: auto;
        margin-right: auto;
        .background('../images/reward-bg.png');
        .pr();

        .content{
            .px2rem(width,560);
            .px2rem(height,706);
            overflow-y: scroll;
            margin-left: auto;
            margin-right: auto;

        }
       
    }

    .submit-btn{
        .px2rem(width,222);
        .px2rem(height,76);
        .bg-img('submit-btn');
        margin-left: auto;
        margin-right: auto;
    }
    .mar{
        .px2rem(margin-top,110);
        .px2rem(margin-bottom,60);
    }

    /***主页面***/
    .main-body{
        .pr();

        .audio{
            .px2rem(width,67);
            .px2rem(height,72);
            .pa();
            .px2rem(top,10);
            .px2rem(right,10);
            .background('../images/video.png');
            &.off{
               .background('../images/video-off.png');
            }
        }

        .scroll{
            .pa();
            overflow: hidden;
            .px2rem(width,590);
            .px2rem(height,50);
            color: #fff;
            .px2rem(top,20);
            transform: translate3d(-50%,0,0);
            background: rgba(0,0,0,0.4);
            left: 50%;
            .px2px(font-size,30);
            &>div{
                height: 100%;
                .px2rem(line-height,50);
               
                .px2rem(padding-left,600);
                white-space: nowrap;
                display: inline-block;
                will-change:transform;

                &.ani{
                    animation: rollUp 18s linear infinite;
                }
            }
        }
        .list-btn{
            .pa();
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translateX(-50%);
            .px2rem(bottom,60);

            &>div{
                display:inline-block;
                .px2rem(width,421);
                .px2rem(height,133);
                .px2rem(margin-bottom,30);

                &:last-child{
                    margin-bottom:0;
                }
                &.beginBtn{
                   .bg-img('begingame-btn');
                }
                &.rewardBtn{
                    .bg-img('reward-btn');
                }
                &.ruleBtn{
                    .bg-img('rules-btn');
                }
            }

        }
    }

    /**规则页面**/
    .rules-body{
        .px2rem(padding-top,30);
        .background('../images/select-bg.png');
        .rules-wrap{
            .px2rem(width,735);
            .px2rem(height,998);
            margin-left: auto;
            margin-right:auto;
            box-sizing: border-box; 
            .background('../images/rules-bg.png');
            //background:rgba(0,0,0,0.7);
           .px2rem(padding-top,200);
            
            .content{
                .padding(0,100,50,100);
                color: #fff;
                .px2px(font-size,30);
                line-height: 1.2;
                box-sizing: border-box;
                .px2rem(height,650);
                overflow-y: scroll;
                li{
                    .clearfix();
                    span{
                       display:block;
                       .px2px(font-size,35);
                       .px2rem(margin-top,20);
                       text-align: center;
                       .px2rem(margin-bottom,30);
                    }
                    p{
                        overflow: hidden;
                    }
                }
            }
        }
    }

    /***中奖名单**/
    .reward-body{
        .px2rem(padding-top,55);
        .background('../images/select-bg.png');
        .common-wrap{
            .title{
                text-align: center;
                color: #664106;
                .px2px(font-size,42);
                .px2rem(margin-bottom,24);
                font-weight: bold;
                line-height: 1.2;
            }
            .content{  
                .px2rem(width,550);
                .px2rem(padding-top,250);
                margin-left: auto;
                margin-right: auto;
                .nodata{
                    text-align: center;
                    .px2px(font-size,40);
                    .px2rem(padding-top,50);
                    color:#fff;
                }
                .name{
                    text-align: center;
                    color:#ffd708;
                    .px2px(font-size,35);
                    .px2rem(margin-top,20);
                    .px2rem(margin-bottom,30);
                    font-weight: bold;
                }
                li{
                   color: #fff;
                   text-align: center;
                   width: 80%;
                   margin-left:auto;
                   margin-right: auto;
                   .px2rem(height,40);
                   .px2rem(line-height,40);
                   .px2px(font-size,30);
                }
            }
        }
    }

    /***选择页面***/
    .selectlist-body{
        .background('../images/select-bg.png');
        .list-wrap{
            .pa();
            .px2rem(width,652);
            top: 50%;
            left: 50%;
            transform: translate(-50%,-40%);

            li{
                width: 100%;
                color: #fff;
                font-weight: bold;
                box-sizing: border-box;
                .px2rem(padding-left,60);
                .px2rem(height,132);
                .px2rem(margin-bottom,34);
                .pr();
                .bg-img('selectlist-disabled-btn');

                &.active{
                    .bg-img('selectlist-btn');
                }
                &:last-child{
                    margin-bottom: 0;
                }

                .name{
                    display: inline-block;
                    .px2rem(width,294);
                    .px2rem(height,132);
                    .px2rem(line-height,132);
                    color: #fff;
                    .px2px(font-size,65);
                    font-weight: bold;
                    text-align: left;
                }
                .time{
                    display: inline-block;
                    color: #fff;
                    .px2px(font-size,30);
                    p{ line-height: 1;}
                    p:first-child{
                        .px2rem(margin-bottom,10);
                    }
                    .pa();
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    /***小组赛**/
    .game16-body{
        
        .group-name{
            .px2rem(margin-left,24);
            text-align: left;
            color: #fde98e;
            .px2px(font-size,42);
            font-weight: bold;
            .px2rem(margin-bottom,10);
        }
        .group-list{
            .px2rem(padding-left,44);
            .px2rem(padding-right,44);
            .px2rem(margin-bottom,26);
            &>div{
                .px2rem(width,131);
                .px2rem(height,122);
                .borderradius1(10);
                box-sizing: border-box;
                .px2rem(padding-top,12);
                &.active{
                    background: #154662;
                }
                img{
                    .px2rem(width,107);
                    .px2rem(height,62);
                    margin-left: auto;
                    margin-right: auto;
                    .px2rem(margin-bottom,6);
                    display: block;
                }
                p{
                    text-align: center;
                    color: #fff;
                    line-height: 1;
                    .px2px(font-size,25);
                    font-weight: bold;
                }
            }
        }


    }

    /**1/8决赛 1/4决赛***/
    .game8-body{
        article{
            .px2rem(padding-top,30);
        }
        .title2{
            .px2rem(padding-top,80);
        }
        .item{
          .px2rem(width,690);
          box-sizing: border-box;
          margin-left: auto;
          margin-right: auto;
          .px2rem(padding-left,30);
          .px2rem(padding-right,30);
          .bg-img('list-bg');
          .px2rem(margin-top,20);
          .px2rem(margin-bottom,40);
          font-weight: bold;
          .px2rem(padding-top,20);
          .px2rem(padding-bottom,20);
          &:nth-child(4){
              .px2rem(margin-bottom,80);
          }
           .name{             
               .px2rem(width,164);
               text-align: center;
               color: #fff;
               .px2px(font-size,30);   
               white-space: nowrap;    
               .pr();                     
               &.active{
                  background:rgba(0,0,0,0.4);
                 .teamimg{
                   .opacity(0.4);
                }
               }
               .teamimg{
                   .px2rem(height,96);
                   display:block;
                   width: 100%;
               }
           }
           .info{
               text-align: center;
               line-height: 1;
               p:first-child{
                   color: #fff;
                   .px2px(font-size,34);
                   .px2rem(margin-bottom,14);
               }
               p:last-child{
                   span{
                    color:#ffba0c;
                    .px2px(font-size,40);
                   }
                   color: #fff;
                   .px2px(font-size,34);
               }
           }


        }

    }

    /***半决赛 决赛****/
    .game2-body{

        .county-wrap{
            .px2rem(width,661);
            margin-left: auto;
            margin-right: auto;
            .px2rem(margin-top,40);
            .background('../images/game2-bg.png');
        }
        
         .line{
             .px2rem(padding-left,60);
             .px2rem(padding-right,60);

             &:nth-child(2){
                 border-top: 1px solid #000;
             }

             .county-item{
                 .px2rem(margin-bottom,30);
                 .px2rem(padding-top,30);
                 &>div{
                     .px2rem(width,164);
                     .px2rem(height,109);
                     img{
                         display: block;
                         width: 100%;
                     }

                     &.vs{
                         .px2rem(width,130);
                         .px2rem(height,98);
                         .bg-img('icon-vs');
                     }
                 }
             }

             .input-item{
                 .px2rem(padding-bottom,30);
                 &>div{
                    .px2rem(width,155);
                    .px2rem(height,87);
                    background: #feeda8;
                    .borderradius1(8);
                    border: 2px solid #eecb3d;
                     input{
                      border: 0;
                      outline: 0;
                      display: block;
                      width: 100%;
                      text-align: center;
                      color: #000;
                      font-weight: bold;
                      background: #feeda8;
                      .px2px(font-size,58);
                      height: 100%;

                     }
                 }
             }
         }
    }

    /***竞猜成功页面***/
    .success-body{
        .px2rem(padding-top,100);
        .px2rem(padding-bottom,170);
        .background('../images/select-bg.png');
        .success-wrap{
            .background('../images/success-bg.png');
            margin-left: auto;
            margin-right:auto;
            .px2rem(width,649);
            .px2rem(padding-bottom,80);        
            box-sizing: border-box;
            .px2rem(padding-top,200);
            .content{
               .padding(0,100,30,100); 
               color: #fff;
               .px2px(font-size,35);
               line-height: 1.3;
            }

            .btn{
                .px2rem(padding-top,20);
                &>div{
                    .px2rem(width,433);
                    .px2rem(height,113);
                    margin-left: auto;
                    margin-right: auto;

                    &.share-btn{
                        .bg-img('share-btn');
                    }
                    &.floww-btn{
                        .bg-img('follow-btn');
                    }
                }
            }

            .flow-wrap{
                text-align: center;
                .px2rem(margin-left,30);
                .px2rem(margin-right,30);

                .tip{
                    color: #000;
                    .px2px(font-size,40);
                    line-height: 1.3;
                    color: #fff;
                    .px2rem(margin-bottom,20);
                }
                .erweima{
                    display:block;
                    .px2rem(width,315);
                    .px2rem(height,315);
                    margin-left: auto;
                    margin-right:auto;
                     img{
                         display:block;
                         width: 100%;
                     }
                }
            }
            
        }
    }

    /***登录注册页面****/
    .login-body{
        .px2rem(padding-top,130);
        height: auto;
        .background('../images/select-bg.png');
        .wrap{
            .px2rem(width,649);
            .background('../images/loginmain-bg.png');           
            box-sizing: border-box;
            .px2rem(padding-top,30);
            .px2rem(padding-bottom,80);
            margin-left: auto;
            margin-right: auto;

            .login-btn{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                .px2rem(width,334);
                .px2rem(height,114);
                .px2rem(line-height,114);
                .bg-img('login-bg');
                color: #fff;
                font-weight: bold;
                .px2px(font-size,64);
                .px2rem(margin-top,90);
                .px2rem(margin-bottom,100);
            }
            .info{
                text-align: left;
                color: #fff;
                .px2px(font-size,25);
                line-height: 1.4;
                .px2rem(padding-left,60);
            }

            .form{
                margin-left: auto;
                margin-right: auto;
                .px2rem(margin-top,240);

                .input{
                    .clearfix();
                    .px2rem(margin-bottom,40);
                    span{
                        .fl();
                        text-align: right;
                        .px2rem(width,175);
                        .px2rem(height,65);
                        .px2rem(line-height,65);
                        .px2px(font-size,36);
                        color: #fff;
                        .px2rem(margin-right,10);
                    }
                    .input1{
                        .px2rem(width,395);
                        .px2rem(height,65);
                        box-sizing: border-box;
                        .px2rem(padding-left,15);
                        .fl();
                        background: #fff;
                        border: 1px solid #afc8d6;
                        .borderradius1(8);
                        color: #664106;
                    }
                    .input2{
                        .px2rem(width,181);
                        .px2rem(height,65);
                        box-sizing: border-box;
                        .px2rem(padding-left,15);
                        .fl();
                        background: #fff;
                        border: 1px solid #afc8d6;
                        .borderradius1(8);
                        .px2rem(margin-right,25);
                        color: #664106;
                    }

                    .yzmimg{
                        .fl();
                        .px2rem(width,184);
                        .px2rem(height,63);
                        background: #efefef;
                    }

                    
                }
                .tip{
                    
                    text-align: center;
                    .px2px(font-size,35);
                    color: #fff;
                    line-height: 1.3;
                    .px2rem(margin-top,40);
                    span{
                        border-bottom:1px solid #fff;
                    }

                }
            }
        } 
    }
}