<!DOCTYPE html>
<html class="main-html  game-html">
<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">
	<title>风驰电掣世界杯</title>
	<script>
var basePath = 'http://worldcup.jcgame.net';
var htmlbasePath='http://worldcup.jcgame.net/html';
var imgUrl = 'http://worldcup.jcgame.net/statics/images';
var proxypath='http://worldcup.jcgame.net'; // 做黄金红包 html生成图片 图片不能跨域
var shareBasePath='undefined';
!function(N, M) {
    function L() {
        var a = I.getBoundingClientRect().width;
        a / F > 540 && (a = 540 * F);
        var d = a / 10;
        I.style.fontSize = d + "px",
                D.rem = N.rem = d
    }
    var K, J = N.document,
            I = J.documentElement,
            H = J.querySelector('meta[name="viewport"]'),
            G = J.querySelector('meta[name="flexible"]'),
            F = 0,
            E = 0,
            D = M.flexible || (M.flexible = {});
    if (H) {
        console.warn("将根据已有的meta标签来设置缩放比例");
        var C = H.getAttribute("content").match(/initial\-scale=([\d\.]+)/);
        C && (E = parseFloat(C[1]), F = parseInt(1 / E))
    } else {
        if (G) {
            var B = G.getAttribute("content");
            if (B) {
                var A = B.match(/initial\-dpr=([\d\.]+)/),
                        z = B.match(/maximum\-dpr=([\d\.]+)/);
                A && (F = parseFloat(A[1]), E = parseFloat((1 / F).toFixed(2))),
                z && (F = parseFloat(z[1]), E = parseFloat((1 / F).toFixed(2)))
            }
        }
    }
    if (!F && !E) {
        var y = N.navigator.userAgent,
                x = ( !! y.match(/android/gi), !!y.match(/iphone/gi)),
                w = x && !!y.match(/OS 9_3/),
                v = N.devicePixelRatio;
        F = x && !w ? v >= 3 && (!F || F >= 3) ? 3 : v >= 2 && (!F || F >= 2) ? 2 : 1 : 1,
                E = 1 / F
    }
    if (I.setAttribute("data-dpr", F), !H) {
        if (H = J.createElement("meta"), H.setAttribute("name", "viewport"), H.setAttribute("content", "initial-scale=" + E + ", maximum-scale=" + E + ", minimum-scale=" + E + ", user-scalable=no"), I.firstElementChild) {
            I.firstElementChild.appendChild(H)
        } else {
            var u = J.createElement("div");
            u.appendChild(H),
                    J.write(u.innerHTML)
        }
    }
    N.addEventListener("resize",
            function() {
                clearTimeout(K),
                        K = setTimeout(L, 300)
            },
            !1),
            N.addEventListener("pageshow",
                    function(b) {
                        b.persisted && (clearTimeout(K), K = setTimeout(L, 300))
                    },
                    !1),
            "complete" === J.readyState ? J.body.style.fontSize = 12 * F + "px": J.addEventListener("DOMContentLoaded",
                    function() {
                        J.body.style.fontSize = 12 * F + "px"
                    },
                    !1),
            L(),
            D.dpr = N.dpr = F,
            D.refreshRem = L,
            D.rem2px = function(d) {
                var c = parseFloat(d) * this.rem;
                return "string" == typeof d && d.match(/rem$/) && (c += "px"),
                        c
            },
            D.px2rem = function(d) {
                var c = parseFloat(d) / this.rem;
                return "string" == typeof d && d.match(/px$/) && (c += "rem"),
                        c
            }
} (window, window.lib || (window.lib = {}));
</script>


	<link rel="stylesheet" href="http://worldcup.jcgame.net/statics/styles/main-1f641e69f9.css" />
</head>
<body class="game2-body">
    <!--内容区域-->
    <div id="app" v-cloak>
        <template v-if="roundsCode==4">
                <div class="title3"><span>半决赛</span></div>
                <div class="des">
                    <p>半决赛猜中两场比赛比分，获得抽奖资格</p>
                    <p>(比分竞猜结果不包含加时赛与点球结果)</p>
                </div>
        </template>
        <template v-if="roundsCode==5">
                <div class="title3"><span>决赛</span></div>
                <div class="des">
                    <p>决赛猜中比赛比分，获得抽奖资格</p>
                    <p>(比分竞猜结果不包含加时赛与点球结果)</p>
                </div>
        </template>
          

           <div class="line" v-if="!isSelected" v-for="item in list">
              <div class="county-item" flex="main:justify" >
                <div>
                    <img :src="basePath+item.teamAImage" alt="">
                </div>
                <div class="vs"></div>
                <div>
                    <img :src="basePath+item.teamBImage" alt="">
                </div>
              </div>
              <div class="input-item" flex="main:justify">
                <div>
                    <input type="tel" v-model="item.scoreA"  maxlength="2" >
                </div>
                <div>
                    <input type="tel" v-model="item.scoreB"  maxlength="2" >
                </div>
              </div>
           </div>     
           <div class="line" v-if="isSelected" v-for="item in list">
            <div class="county-item" flex="main:justify" >
              <div>
                  <img :src="basePath+item.teamAImage" alt="">
              </div>
              <div class="vs"></div>
              <div>
                  <img :src="basePath+item.teamBImage" alt="">
              </div>
            </div>
            <div class="input-item" flex="main:justify">
              <div>
                  <input type="tel" :value="item.scoreA" disabled  maxlength="2" >
              </div>
              <div>
                  <input type="tel" :value="item.scoreB"  disabled maxlength="2" >
              </div>
            </div>
         </div>         
          <div class="btn-wrap">
            <div class="submit-btn" v-show="!isSelected" @click="submit" ></div>
          </div>

    </div>   
     <!--底部引用的js资源-->
 <script type="text/javascript" src="http://worldcup.jcgame.net/statics/scripts/lib/vue/vue-728134de0a.js"></script>
 <script type="text/javascript" src="http://worldcup.jcgame.net/statics/scripts/common-jquery-13336e761c.js"></script>
    <script type="text/javascript" src="http://worldcup.jcgame.net/statics/scripts/page/cupDraw/game2-bc54a214c5.main.js"></script>
</body>

</html>