<!DOCTYPE html>
<html class="main-html  game-html">
<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">
	<title>风驰电掣世界杯</title>
	@@include('meta.html')
	<link rel="stylesheet" href="<%=cssUrl%>/main.css" />
</head>
<body class="game8-body">
    <!--内容区域-->
    <div id="app" v-cloak>
           <div class="title">猜中六支出线球队，获得抽奖资格</div>

           <article>
               <div class="item" v-if="!isSelected"  flex="main:justify"  v-for="(item,index) in list" :key="item.id"  >
                   <div class="name" :class="{active:teamstatus[index].teamId==item.teamA}" @click="tap(index,item.teamA)" >
                       {{item.teamAName}}
                   </div>
                   <div class="info">
                       <p>{{item.matchCode.toUpperCase()}} {{item.matchAdress}}</p>
                       <p><span>{{item.data}}</span> {{item.hour}}</p>
                   </div>
                   <div class="name" :class="{active:teamstatus[index].teamId==item.teamB}" @click="tap(index,item.teamB)" >
                    {{item.teamBName}}
                   </div>
               </div>
               <!-- 选中 -->
               <div class="item" v-if="isSelected"  flex="main:justify"  v-for="(item,index) in list" :key="item.id"  >
                <div class="name" :class="{active:item.selectedTeam==item.teamA}" >
                    {{item.teamAName}}
                </div>
                <div class="info">
                    <p>{{item.matchCode.toUpperCase()}} {{item.matchAdress}}</p>
                    <p><span>{{item.data}}</span> {{item.hour}}</p>
                </div>
                <div class="name" :class="{active:item.selectedTeam==item.teamB}" >
                 {{item.teamBName}}
                </div>
            </div>
           </article>
          <div class="btn-wrap">
            <div class="submit-btn" v-show="!isSelected" @click="submit" ></div>
          </div>
    </div>   
    @@include('vue-footer.html')
    <script type="text/javascript" src="<%=jsUrl%>/page/cupDraw/game8.main.js"></script>
</body>

</html>