<!DOCTYPE html>
<html class="main-html  game-html">
<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">
	<title>风驰电掣世界杯</title>
	@@include('meta.html')
	<link rel="stylesheet" href="<%=cssUrl%>/main.css" />
</head>
<body class="game16-body">
    <!--内容区域-->
    @@include('audio.html')
    <div id="app" v-cloak>
            <div class="goback" @click="goback" ></div>
           <div class="title">
               <div class="icon-title16"></div>
           </div>
           <div class="item"  v-for="(item,index) in list" >
               <div v-if="!isSelected" v-for="(value,key) in item">
                    <div class="group-name">{{key}}组</div>
                    <div class="group-list"  flex="main:justify">
                        <div v-for="item1 in value" :class="{active:selectstatus[index][item1.id]==1}"  @click="selectteam(index,item1.group32,item1.id)"  >
                            <img :src="basePath+item1.imagePath" alt="">
                            <p>{{item1.name}}</p>
                        </div>
                    </div>
                </div>  
                <div v-if="isSelected" v-for="(value,key) in item">
                    <div class="group-name">{{key}}组</div>
                    <div class="group-list"  flex="main:justify">
                        <div v-for="item1 in value" :class="{active:item1.isSelected==1}"   >
                            <img :src="basePath+item1.imagePath" alt="">
                            <p>{{item1.name}}</p>
                        </div>
                    </div>
                </div>            
           </div>
          <div class="btn-wrap">
            <div class="submit-btn" v-show="!isSelected" @click="submit"></div>
          </div>

    </div>   
    @@include('vue-footer.html')
    <script type="text/javascript" src="<%=jsUrl%>/page/cupDraw/game16.main.js"></script>
</body>

</html>