<!DOCTYPE html>
<html class="main-html">

<head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>风驰电掣世界杯</title>
    @@include('meta.html')
    <link rel="stylesheet" href="<%=cssUrl%>/main.css" />
</head>

<body class="login-body">
    <!--内容区域-->
    <div class="wrap" id="app">
        <div class="login-wrap" v-show="status==1">
            <div class="title">手机号登录</div>
            <div class="form">
                <div class="input">
                    <span>手机号</span>
                    <input class="input1" v-model="telephone" type="tel">
                </div>
                <div class="input">
                    <span>密码</span>
                    <input class="input1" v-model="password"  type="tel">
                </div>
                <div class="input">
                    <span>验证码</span>
                    <input class="input2" v-model="yzm" maxlength="4" type="tel">
                    <img class="yzmimg" :src="yzmimg" alt="">
                </div>
                <div class="tip">还未注册,<span @click="changestatus(2)">请注册</span></div>
            </div>
            <div class="btn">
                <div class="login-btn">登录</div>
            </div>
        </div>
        <div class="login-wrap" v-show="status==2">
                <div class="title">手机号注册</div>
                <div class="form">
                    <div class="input">
                        <span>手机号</span>
                        <input class="input1" v-model="telephone" type="tel">
                    </div>
                    <div class="input">
                        <span>密码</span>
                        <input class="input1" v-model="password" type="tel">
                    </div>
                    <div class="input">
                            <span>再次密码</span>
                            <input class="input1" v-model="againpassword" type="tel">
                        </div>
                    <div class="input">
                        <span>验证码</span>
                        <input class="input2" maxlength="4" type="tel">
                        <img class="yzmimg" src="" alt="">
                    </div>
                    <div class="tip">已注册,<span @click="changestatus(1)">去登录</span></div>
                </div>
                <div class="btn">
                    <div class="login-btn">注册</div>
                </div>
            </div>

        <div class="info">
            <p>输入个人手机，设定密码，完成登录 </p>
            <p>请牢记密码，密码丢失无法找回 </p>
            <p>（但不影响兑奖）</p>
            <p>奖品发放以手机号作为凭证，请熟知</p>
        </div>

    </div>
    @@include('vue-footer.html')
    <script type="text/javascript" src="<%=jsUrl%>/page/cupDraw/login.main.js"></script>
</body>

</html>