<!DOCTYPE html>
<html class="main-html">
<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">
	<title>风驰电掣世界杯</title>
	@@include('meta.html')
	<link rel="stylesheet" href="<%=cssUrl%>/main.css" />
</head>
<body class="reward-body">
    <!--内容区域-->
    @@include('audio.html')
    <div id="app" v-cloak>
            <div class="goback1" @click="goback" ></div>
            <div class="common-wrap">
              <div class="content">
                <div class="nodata" style="text-align:center;" v-if="list.length==0">还未有中奖名单</div>
                      <div class="item" v-for="item in list">
                          <div class="name">{{item.name}}</div>
                          <ul>
                              <li v-for="(item1,index) in item.value">{{index+1}}.{{item1.phone}}</li>
                          </ul>
                      </div>
              </div>
            </div>
    </div>   
    @@include('vue-footer.html')
    <script type="text/javascript" src="<%=jsUrl%>/page/cupDraw/reward.main.js"></script>
</body>

</html>